
@import '~bootstrap/dist/css/bootstrap.min.css';
.example-spacer {
    flex: 1 1 auto;
  }

  html, body { height: 100%; }
body { margin: 0;  font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
